#wrapper{
    display: flex;
}

content{
    flex: 1 0 auto;
}

a:hover{
    cursor: pointer;
}


/* ====================SIDEBAR======================*/

aside{
    height: 100vh;
    margin-top: -0.7cm;
}

.side-bar a{
    text-decoration: none;
}


aside .logo img {
    width: 100%;
    height: 50%;
}

aside .side-bar{
    display: flex;
    background-color: #10504f;
    flex-direction: column;
    height: 74.3vh;
    position: relative;
}

aside h3{
    font-weight: 500;

}

aside .side-bar a {
    display: flex;
    color: white;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    position: relative;
    height:3.7rem;
    transition: all 300ms ease;
}

aside .side-bar a span{
    font-size:1.6rem ;
    transition: all 300ms ease;
}

aside .side-bar a:last-child{
   position: absolute;
   bottom:2rem;
   
}

aside .side-bar a.active{
    background-color: rgba(221, 217, 217, 0.626);
    margin-left: 0;
}

aside .side-bar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background:  rgb(255, 255, 255);
}

aside .side-bar a.active span {
 color:  rgba(9, 86, 85, 0.63);
 margin-left: calc(1rem - 3px);
}

aside .side-bar a:hover{
    color: black;
}

aside .side-bar a:hover span{
    margin-left: 1rem;
}
/*********************************************/

.container{
    display:  flex;
    flex-direction: column;
}

.topbar-divider{
    width: 1px;
    border-right: 1px solid #e3e6f0;
    height: 40px;
    margin: auto 10px;
}


.fa-search{
    color: white;
}

.fa-inbox{
    font-size: 30px;
    vertical-align: middle;
    margin-top: 10px;
    color: #e3e6f0;
}

.right_side{
    display: flex;
}

.insider_row{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: row;
}

.container-fluid{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.search_media{
    display: none;
}




@media (max-width: 768px) {
    .sidebar{
        width:6.5rem;
    }
    .fa-right-angle{
        display: hidden;
        content: " ";
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .insider_row{
        display: flex;
        flex-direction: column;
    }

    form{
        display: none;
    }

    .search_media{
        display: flex;
    }

    
}