/*General*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F4F5FA;
}
.dark-mode{
  background-color: black;
  color: white;
}

/*Header*/
.header{
  height: 70px;
  display: flex;
  background-color:#FFFFFF ;
}

input[type=text]{
  width: 400px;
  height: 50px;
  background-color: #f2f2f2;
  position: absolute;
  border: 3px;
  border-radius: 10px;
  left: 310px;
  top: 12px;
}

.searchButton{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  left: 660px;
  border: 5px solid #10504f;
  background-color: #10504f;
  text-align: center;
  color: white;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
}

.fa-bell{
  position: absolute;
  top: 35px;
  right: 250px;
}
.darkm{
  position: absolute;
  top: 25px;
  right: 280px;

}
.nameuser{
  position: absolute;
  top: 25px;
  left: 1065px;
}
.vl{
  border-left: 1px solid black;
  height: 50px;
  position: absolute;
  top: 12px;
  right: 230px;
} 

/*Image with drop down for the user*/
.action{
  position: absolute;
  top: 4px;
  right: 20px;
}
.action .profile{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.action .profile img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action .menu{
  position:absolute;
  top: 75px;
  right: -10px;
  padding: 10px 20px;
  background: white;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.action .menu.active{
  visibility: visible;
  opacity: 1;
}
.action .menu::before{
  content: '';
  position:absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.action .menu ul li{
  list-style:none;
  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.05);
  display:flex;
  align-items: center;
}
.action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}
.action .menu ul li:hover img{
  opacity: 1;
}
.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: gray;
  font-weight: 500;
  transition: 0.5s;
}
.action .menu ul li:hover a{
  color: #309593;
}

/*The 4 things*/
.info-head{
  z-index:-1;
  position: absolute;
  top: 100px;
  left: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.care{
  width: 200px;
  height:100px;
  border-radius: 5px;
  box-shadow: 0 4px 2.5px -2.5px gray;
}
.care a{
  text-decoration:none;
  color:black;
  position: absolute;
  top: 13px;
}
.care .material-symbols-outlined{
  font-size: 25px;
}
.care1{
  border: 3px solid #10504F;
}
.care2{
  border: 3px solid #95B1AF;
}
.care3{
  border: 3px solid #3E4766;
}
.care4{
  border: 3px solid #A7AABC;
}
.care1:hover a{ 
  width:195px ;
  height: 70px;
  background-color: #10504F;
}
.care2:hover a{
  width:195px ;
  height: 70px;
  background-color: #95B1AF;
}
.care3:hover a{
  width:195px ;
  height: 70px;
  background-color: #3E4766;
}
.care4:hover a{
  width:195px ;
  height: 70px;
  background-color: #A7AABC;
}


/*Side Bar*/
.side-bar{
  position: absolute;
  top: 0;
  z-index: 1;
  width: 21%;
  height: 100%;
  position: fixed;
  background-color: #10504f;
}

.logo{
  background-image: url("logo.png");
  width: 100%;
  height: 100%;
  background-size:contain ;
  background-repeat: no-repeat;
  position: absolute;
  top: -45px;
  transition: 0.5s ease-in-out;
}

.logo:hover{
  background-image: url("logocolor.png");
}
.element-side-bar{
  position: absolute;
  top: 155px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 27px;
  font-size: 13px;
}
.element-side-bar hr{
  width: 265px;
}
.side-bar a{
    color: #f2f2f2;
    text-decoration: none;
}
aside .element-side-bar a.active{
  background-color: rgba(221, 217, 217, 0.626);
  margin-left: 0;
}
aside .element-side-bar a.active:before{
  content: "";
  width: 6px;
  height: 100%;
  background:  rgb(255, 255, 255);
}
aside .element-side-bar a.active span {
color:  rgba(9, 86, 85, 0.63);
margin-left: calc(1rem - 3px);
}
aside .element-side-bar a:hover{
  color: black;
  transition: all 0.3s;
}
aside .element-side-bar a:hover span{
  margin-left: 1rem;
}

/*Statistique*/
#myChart{
  position: absolute;
  top: 250px;
  left: 278px;
  max-height: 550px;
  max-width: 650px;
}

/*Calendar*/
.cld{
  position: absolute;
  top: 250px;
  right: 27px;
  z-index:-1
}
.wrapper{
  height: 55vh;
  width: 310px;
  background: #d3dfdf;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 25px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
  transition-duration: 0.3s;
}
header .current-date{
  font-size: 1.20rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(95% / 7);
  height:calc(70%/7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #10504f;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

/*Notification*/
.notification{
  z-index:-1;
  position: absolute;
  width: 310px;
  top: 650px;
  right: 27px;
  border:5px solid #d3dfdf;
  border-radius: 10px;
  background-color: #d3dfdf;
  box-shadow:  0 15px 40px rgba(0,0,0,0.25);
}
.message a{
  position: absolute;
  right: 40px;
}
.ntfbar{
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
}
.message span{
  color: gray;
  display: flex;
  justify-content: center;
}
.message a{
  color:#10504F;
  text-decoration: none;
}
.message a:hover{
  color:#1a2a4a;
  text-decoration: underline;
}